.beer_glass {
    width: 400px;
    height: 400px;
    position: fixed;
    float: right;
    background-color: rgb(47, 47, 47);
    margin-left: 70%;
}

.left_menu {
    margin-left: 2%;
    margin-top: 1px;
    float: left;
    background-color: rgb(47, 47, 47);
    height: auto;
    width: 20%;
    position: fixed;
    border-radius: 20px;
    color: rgb(212, 207, 205);
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    border: 2px solid rgb(223, 89, 0);
    font-size: 105%;
}


.text_above_buttons {
    padding-top: 5px;
    text-align: center;
    font-size: 110%;
    padding-left: 10px;
    padding-right: 10px;
    display: block;
    padding-bottom: 5px;
    border-bottom: 2px solid rgb(223, 89, 0);
    border-radius: 15px;
}

.text_above_buttons_text {
  display: block;
}


.input_fields {
    /* border-bottom: 1px solid rgb(223, 89, 0); */
}

.input_field {
    width: 100%;
    height: 30px;
}

.input_field_number {
    font-size: 110%;
    text-align: center;
    background-color: rgb(47, 47, 47);
    color: rgb(212, 207, 205);
    float: right;
    width: 30px;
    height: auto;
    margin-top: 0.75%;
    margin-right: 65px;
}

.input_field_text {
    font-size: 110%;
    text-align: center;
    float: left;
    margin-left: 70px;
}


input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.toggles_menu {
    font-size: 105%;
    text-align: center;
}

.toggles_element {
    font-size: 120%;
    display: block;
}

.input_fields_text {
    margin-top: 20px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 15px;
    /* border-bottom: 1px solid rgb(223, 89, 0);
    border-top: 1px solid rgb(223, 89, 0); */
    border-radius: 15px;
}


.toggles_element_text {
    text-align: center;
    margin-top: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    /* border-bottom: 1px solid rgb(223, 89, 0);
    border-top: 1px solid rgb(223, 89, 0); */
    border-radius: 15px;
}

.toggles_menu_sort {
    /* border-top: 1px solid rgb(223, 89, 0); */
}

.sort {
    /* border-bottom: 1px solid rgb(223, 89, 0); */
}

.refresh {
    /* border-top: 1px solid rgb(223, 89, 0); */
    border-radius: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-top: 2px solid rgb(223, 89, 0);
}


.order {
    padding-top: 5px;
    padding-bottom: 5px;
    /* border-top: 1px solid rgb(223, 89, 0);
    border-bottom: 1px solid rgb(223, 89, 0); */
}

.toggles_element:hover {
    background-color: rgb(223, 89, 0);
}


.beer_list {
    width: 700px;
    height: auto;
    margin-left: 23.5%;
    position: relative;
    margin-bottom: 3%;
    margin-top: 10px;
}

.descr_text_beers {
  width: auto;
  height: auto;
  background-color: brown;
  position: fixed;
  margin-left: 61%;
  margin-top: 1px;
  background-color: rgb(47, 47, 47);
  border-radius: 20px;
  color: rgb(212, 207, 205);
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  border: 2px solid rgb(223, 89, 0);
  text-align: center;
  font-size: 120%;
  padding: 10px;
}

